:root {
    --color-primary: #007bff;
    --color-primary-dark: #006adb;
    --color-primary-darker: #0056b3;

    --color-secondary: #6c757d;
    --color-secondary-light: #909aa1;

    --color-danger: #f63636;
    --color-danger-dark: #e62e2e;
    --color-danger-darker: #d62626;

    --color-background: #f0f0f0;
    --color-background-dark: #e0e0e0;
    --color-background-darker: #d0d0d0;

    --max-width: 500px;
}